In [77]:
import pandas as pd
import matplotlib.pyplot as plt

In [78]:
df = pd.read_csv('dados/dados_sus_t.csv', sep=';')
pd.options.display.float_format = "{:.2f}".format

In [79]:
df

                         uf  anomes          valor        regiao
0               11 Rondônia  200801     1388528.39         Norte
1                   12 Acre  200801      902416.00         Norte
2               13 Amazonas  200801     4735529.42         Norte
3                14 Roraima  200801      657889.53         Norte
4                   15 Pará  200801    18864744.11         Norte
...                     ...     ...            ...           ...
5233   43 Rio Grande do Sul   total 16750147966.65           Sul
5234  50 Mato Grosso do Sul   total  3219624366.70  Centro-Oeste
5235         51 Mato Grosso   total  2988456549.66  Centro-Oeste
5236               52 Goiás   total  6682627768.18  Centro-Oeste
5237    53 Distrito Federal   total  3543027009.96  Centro-Oeste

[5238 rows x 4 columns]

In [51]:
df_estados = df[['regiao','anomes','valor']].query("anomes != 'total'")