# Projeto de análise de internações do SUS

In [1]:
import pandas as pd
import matplotlib.ticker as ticker
import matplotlib.pyplot as plt

#alteração teste

In [3]:
dados = pd.read_csv('dados/dados_internacao_sus.csv', sep=';', encoding='ISO-8859-1', skiprows=3, 
                    skipfooter=12, thousands='.', decimal=',')

C:\Users\conta\AppData\Local\Temp\ipykernel_64920\1298413130.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dados = pd.read_csv('dados/dados_internacao_sus.csv', sep=';', encoding='ISO-8859-1', skiprows=3,

In [4]:
# Convertendo todas as colunas para float, exceto a primeira
pd.options.display.float_format = "{:.2f}".format

for coluna in dados.columns[1:]:
    dados[coluna] = pd.to_numeric(dados[coluna], errors='coerce')

In [5]:
# Dicionário de mapeamento de meses
meses_pt_num = {
    'Jan': '01',
    'Fev': '02',
    'Mar': '03',
    'Abr': '04',
    'Mai': '05',
    'Jun': '06',
    'Jul': '07',
    'Ago': '08',
    'Set': '09',
    'Out': '10',
    'Nov': '11',
    'Dez': '12'
}

In [6]:
#função para renoemar todas as colunas
def ano_para_num(campo):
    if campo == 'Total':
        result = 'total'
    elif campo == 'Unidade da Federação':
        result = 'uf'
    else:
        ano = campo[0:4]
        mes = meses_pt_num[campo[5:8]]
        result = (ano+mes)
    return result

In [7]:
#renomeando todas as colunas
dados.columns = [ano_para_num(coluna) for coluna in dados.columns]
#lista apenas com as colunas com nome de anomes
colunas_meses = [i for i in dados.columns if i[0:2] == '20']

In [8]:
# Transpor o DataFrame usando o melt
df_transposto = pd.melt(dados, id_vars=['uf'], var_name='anomes', value_name='valor')

In [9]:
#adicionando regiao
regiao = {'1':'Norte', '2':'Nordeste', '3':'Sudeste', '4':'Sul', '5':'Centro-Oeste'}
df_transposto['regiao'] = df_transposto['uf'].map(lambda x: regiao[x[0]])

In [10]:
df_transposto

                         uf  anomes          valor        regiao
0               11 Rondônia  200801     1388528.39         Norte
1                   12 Acre  200801      902416.00         Norte
2               13 Amazonas  200801     4735529.42         Norte
3                14 Roraima  200801      657889.53         Norte
4                   15 Pará  200801    18864744.11         Norte
...                     ...     ...            ...           ...
5233   43 Rio Grande do Sul   total 16750147966.65           Sul
5234  50 Mato Grosso do Sul   total  3219624366.70  Centro-Oeste
5235         51 Mato Grosso   total  2988456549.66  Centro-Oeste
5236               52 Goiás   total  6682627768.18  Centro-Oeste
5237    53 Distrito Federal   total  3543027009.96  Centro-Oeste

[5238 rows x 4 columns]