# Projeto inicial da fase I

In [26]:
import pandas as pd
import matplotlib.ticker as ticker
import matplotlib.pyplot as plt

In [27]:
dados = pd.read_csv('dados/dados_internacao_sus.csv', sep=';', encoding='ISO-8859-1', skiprows=3, 
                    skipfooter=12, thousands='.', decimal=',')

C:\Users\conta\AppData\Local\Temp\ipykernel_3900\1298413130.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dados = pd.read_csv('dados/dados_internacao_sus.csv', sep=';', encoding='ISO-8859-1', skiprows=3,

In [28]:
# Convertendo todas as colunas para float, exceto a primeira
pd.options.display.float_format = "{:.2f}".format

for coluna in dados.columns[1:]:
    dados[coluna] = pd.to_numeric(dados[coluna], errors='coerce')

In [29]:
# Dicionário de mapeamento de meses
meses_pt_num = {
    'Jan': '01',
    'Fev': '02',
    'Mar': '03',
    'Abr': '04',
    'Mai': '05',
    'Jun': '06',
    'Jul': '07',
    'Ago': '08',
    'Set': '09',
    'Out': '10',
    'Nov': '11',
    'Dez': '12'
}

In [30]:
#função para renoemar todas as colunas
def ano_para_num(campo):
    if campo == 'Total':
        result = 'total'
    elif campo == 'Unidade da Federação':
        result = 'uf'
    else:
        ano = campo[0:4]
        mes = meses_pt_num[campo[5:8]]
        result = (ano+mes)
    return result

In [31]:
#renomeando todas as colunas
dados.columns = [ano_para_num(coluna) for coluna in dados.columns]
#lista apenas com as colunas com nome de anomes
colunas_meses = [i for i in dados.columns if i[0:2] == '20']

In [32]:
# Transpor o DataFrame usando o melt
df_transposto = pd.melt(dados, id_vars=['uf'], var_name='anomes', value_name='valor')

In [33]:
#adicionando regiao
regiao = {'1':'Norte', '2':'Nordeste', '3':'Sudeste', '4':'Sul', '5':'Centro-Oeste'}
df_transposto['regiao'] = df_transposto['uf'].map(lambda x: regiao[x[0]])

In [34]:
df_transposto = df_transposto.query("anomes not in ('regiao','total')")

In [35]:
df_transposto['valor'] = df_transposto['valor'].astype(float)

In [36]:
df_transposto.to_csv('dados/dados_sus_t.csv', sep=';', index=False)